<!--DE LEDEN MINIPAGE-->

    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>De leden</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-centered" src="img/portfolio/logo1page.png" alt="">
                  <p>
                    Ons team bestaat uit 4 scoutsleden die bezig zijn met hun jinjaar. 
                    Dit wil zeggen dat ze nog één jaartje te gaan hebben voor ze leiding worden.
                    Het team is gemotiveerd en gevarieerd. Helemaal klaar om u van dienst te zijn.
                  </p>
                  <button class="btn btn-success" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Sluiten</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
<!--DE LEIDING MINIPAGE-->
    
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>De Leiding</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-centered" src="img/portfolio/leiding.png" alt="">
                  <p>
                    De jinners worden begeleid door Lukas, Louise-Marie en David.
                    Deze drie jongemannen kennen elkaar al van jongs af aan en weten van aanpakken.
                    Ze kozen om jin leiding te worden om samen met een groep gedreven jongeren wat grotere projecten op poten te zetten.
                    Ze zijn gemotiveerd om de jinners te begeleiden en te helpen hun droomreis waar te maken.
                  </p>
                  <p>
                    De leiding is verantwoordelijk voor de leden.
                    Indien u vragen of opmerkingen heeft, contacteer dan steeds de leiding.
                  </p>
                  
                  <ul class="leiding">
                  <li>Email:
                      <strong>
                        rentajin3012@outlook.be
                      </strong>
                    </li>
                    <li>Telefoon
                      <strong>
                        0489/55 02 44
                      </strong>
                  </ul>
                  <div>
                  <button class="btn btn-success" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Sluiten</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
<!--ONZE BESTEMMING MINIPAGE-->
    
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Onze Bestemming</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-centered" src="img/portfolio/logo3page.jpg" alt="">
                  <p>
                    Het jinjaar staat in het teken van een grote buitenlandse reis.
                    Dit jaar gaan we naar Montenegro en Albanië!
                    Voor deze fantastische reis hebben we natuurlijk wat centjes nodig. 
                    Wil jij ons helpen om onze droomreis te realiseren? Ja?
                    Dat komt goed uit want wij kunnen jou ook helpen! 
                    Dien hieronder je aanvraag in en laat ons weten hoe we jou van dienst kunnen zijn.
                  </p>
                  <button class="btn btn-success" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Sluiten</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    