<!--TEST POST REQUEST-->

<form action="/test" method="POST">
  <div class="form-group">
      <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Naam</label>
            <input class="form-control" id="name" type="text" name="naam" placeholder="Naam" required data-validation-required-message="Gelieve je naam op te geven">
            <p class="help-block text-danger"></p>
          </div>
      </div>
    <button type="submit" class="btn btn-block btn-success btn-lg" id="sendMessageButton">TEST POST REQUEST</button>
  </div>
</form>