 <!--TOP-->

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Rent A Jin</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Wie zijn we?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Wat doen we?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead" id="kleur1">
      <div class="container">
        <img class="img-fluid hoofdLogo" src="img/profile.png" alt="">
        <div class="intro-text">
          <!--<span class="name">Rent A Jin</span>
          <hr class="star-light" id="kleur1">-->
          <span class="skills">
            Nood aan helpende handen? 
          </span>
          <br />
          <span class="skills">
            De jins van Scouts Wilsele staan voor je klaar!
          </span>
        </div>
      </div>
    </header>