<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rent A Jin</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/freelancer1.css" rel="stylesheet">

  </head>
  
<body id="page-top">

     <!--TOP-->

     <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
              <a class="navbar-brand js-scroll-trigger" href="#page-top">Rent A Jin</a>
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#portfolio">Wie zijn we?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">Wat doen we?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
      
          <header class="masthead" id="kleur1">
            <div class="container">
              <img class="img-fluid hoofdLogo" src="img/profile.png" alt="">
              <div class="intro-text">
                <!--<span class="name">Rent A Jin</span>
                <hr class="star-light" id="kleur1">-->
                <span class="skills">
                  Nood aan helpende handen? 
                </span>
                <br />
                <span class="skills">
                  De jins van Scouts Wilsele staan voor je klaar!
                </span>
              </div>
            </div>
          </header>

          <!-- WIE ZIJN WE-->
<section id="portfolio">
        <div class="container">
          <h2 class="text-center">Wie zijn we?</h2>
          <hr class="star-primary">
          <div class="row">
            <div class="col-sm-4 portfolio-item">
              <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                <div class="caption">
                  <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid logoPortfolio" src="img/portfolio/logo1.png" alt="">
              </a>
              <h4 class="text-center portfolio-ruben portfolio-link" href="#portfolioModal1" data-toggle="modal">De Leden</h3>
            </div>
            <div class="col-sm-4 portfolio-item">
              <a class="portfolio-link" href="#portfolioModal2" data-toggle="modal">
                <div class="caption">
                  <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid logoPortfolio" src="img/portfolio/logo2.png" alt="">
              </a>
              <h4 class="text-center portfolio-ruben portfolio-link" href="#portfolioModal2" data-toggle="modal">De Leiding</h3>
            </div>
            <div class="col-sm-4 portfolio-item">
              <a class="portfolio-link" href="#portfolioModal3" data-toggle="modal">
                <div class="caption">
                  <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid logoPortfolio" src="img/portfolio/logo3.png" alt="">
              </a>
              <h4 class="text-center portfolio-ruben portfolio-link" href="#portfolioModal3" data-toggle="modal">Onze Bestemming</h3>
            </div>
          </div>
        </div>
      </section>


      <!-- WAT DOEN WE -->
    <section class="success" id="about">
            <div class="container">
              <h2 class="text-center watDoenWe">Wat doen we?</h2>
              <hr class="star-light">
              <div class="row">
                <div class="col-lg-6 ml-auto">
                  <p>
                  Heb je geen zin om het gras af te rijden? Hulp nodig bij het schilderen van je garage of badkamer? 
                  Handen te kort om tijdens je feest te komen opdienen? Nood aan een babysit? 
                  Of gewoon geen tijd voor het zoveelste klusje dat op je todo lijst staat? 
                  Geen nood! Huur een jin!
                  </p>
                </div>
                <div class="col-lg-6 mr-auto">
                  <p>
                  De jins zijn de laatstejaars leden op de scouts. 
                  Om hun buitenlands kamp te sponsoren stellen ze zich tot uw beschikking. 
                  Geef een beschrijving van je klus, 
                  geef aan hoeveel Jin je nodig hebt en wanneer en wij voorzien de helpende handen.
                  Nadat het contactformulier is ingevuld contacteren we u met een offerte.
                  </p>
                </div>
                <div class="col-lg-6 mx-auto text-center">
                  <!--<a href="#" class="btn btn-lg btn-outline">
                    Voorbeelden van klusjes
                  </a>-->
                  <!--<p>
                   zetten we slechts enkele personen aan het werk
                  en voor grotere werken kan het voltallige team ingehuurd worden.
                  Aarzel niet en dien je aanvraag hier onder in!
                  </p>-->
                </div>
              </div>
            </div>
          </section>

          <!--CONTACT SECTION-->

    <section id="contact">
            <div class="container">
              <h2 class="text-center">Contacteer ons</h2>
              <hr class="star-primary">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                  <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                  <form name="sentMessage" id="contactForm" action="/sendMail" method="POST" data-toggle="validator">
                    <div class="control-group">
                      <div class="form-group floating-label-form-group controls">
                        <label>Naam</label>
                        <input class="form-control" id="name" type="text" name="naam" placeholder="Naam" required data-validation-required-message="Gelieve je naam op te geven">
                        <p class="help-block text-danger"></p>
                      </div>
                    </div>
                    <div class="control-group">
                      <div class="form-group floating-label-form-group controls">
                        <label>Email</label>
                        <input class="form-control" id="email" type="email" name="email" placeholder="Emailadres" required data-validation-required-message="Geef een emailadres">
                        <p class="help-block text-danger"></p>
                      </div>
                    </div>
                    <div class="control-group">
                      <div class="form-group floating-label-form-group controls">
                        <label>Telefoonnummer</label>
                        <input class="form-control" id="phone" type="tel" name="telefoonNummer" placeholder="Telefoonnummer" required data-validation-required-message="Geef een telefoonnummer op">
                        <p class="help-block text-danger"></p>
                      </div>
                    </div>              
                    <div class="control-group">
                      <div class="form-group floating-label-form-group controls">
                        <label>Aantal personen nodig (1-16)</label>
                        <input class="form-control" id="phone" type="tel" name="personenNodig" placeholder="Aantal personen nodig (1-16)" required data-validation-required-message="Geef een telefoonnummer op">
                        <p class="help-block text-danger"></p>
                      </div>
                    </div>
                    
                    <div class="control-group">
                      <div class="form-group floating-label-form-group controls">
                        <label>Omschrijving</label>
                        <textarea class="form-control" id="message" name="omschrijving" rows="5" placeholder="Omschrijving van de taak" required data-validation-required-message="Gelieve je taak te omschrijven"></textarea>
                        <p class="help-block text-danger"></p>
                      </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-block btn-success btn-lg" id="sendMessageButton">Verstuur</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>

           <!-- BOTTOM -->
    <footer class="text-center">
            <div class="footer-above">
              <div class="container">
                <div class="row">
                  <div class="footer-col col-md-4">
                    <h3>In het Nieuws</h3>
                    <p>Lees <a href="https://www.hln.be/regio/leuven/jin-3012-wilsele-wil-vervelende-klusjes-opknappen~ae69f3b5/">hier</a> wat de kranten over ons  zeggen!
                      </p>
                  </div>
                  <div class="footer-col col-md-4">
                    <h3>Volg ons op facebook</h3>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a class="btn-social btn-outline" href="https://www.facebook.com/scoutswilsele/">
                          <i class="fa fa-fw fa-facebook"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="footer-col col-md-4">
                    <h3>Locatie</h3>
                    <p>Albert Wouterstraat 28
                      <br>3012 Wilsele
                      <br>Vlaams-Brabant
                      <br>België
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-below">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    Copyright &copy; Jin Scouts Wilsele 2018
                  </div>
                </div>
              </div>
            </div>
          </footer>
      
          <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
          <div class="scroll-top d-lg-none">
            <a class="btn btn-primary js-scroll-trigger" href="#page-top">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>


          <!--DE LEDEN MINIPAGE-->

    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                  <div class="lr">
                    <div class="rl"></div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 mx-auto">
                      <div class="modal-body">
                        <h2>De leden</h2>
                        <hr class="star-primary">
                        <img class="img-fluid img-centered" src="img/portfolio/logo1page.jpg" alt="">
                        <p>
                          Ons team bestaat uit 4 scoutsleden die bezig zijn met hun jinjaar. 
                          Dit wil zeggen dat ze nog één jaartje te gaan hebben voor ze leiding worden.
                          Het team is gemotiveerd en gevarieerd. Helemaal klaar om u van dienst te zijn.
                        </p>
                        <button class="btn btn-success" type="button" data-dismiss="modal">
                          <i class="fa fa-times"></i>
                          Sluiten</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
      <!--DE LEIDING MINIPAGE-->
          
          <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                  <div class="lr">
                    <div class="rl"></div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 mx-auto">
                      <div class="modal-body">
                        <h2>De Leiding</h2>
                        <hr class="star-primary">
                        <img class="img-fluid img-centered" src="img/portfolio/logo2page.jpg" alt="">
                        <p>
                          De jinners worden begeleid door David, Louise-Marie en Lukas.
                          Deze drie jongemannen kennen elkaar al van jongs af aan en weten van aanpakken.
                          Ze kozen om jin leiding te worden om samen met een groep gedreven jongeren wat grotere projecten op poten te zetten.
                          Ze zijn gemotiveerd om de jinners te begeleiden en te helpen hun droomreis waar te maken.
                        </p>
                        <p>
                          De leiding is verantwoordelijk voor de leden.
                          Indien u vragen of opmerkingen heeft, contacteer dan steeds de leiding.
                        </p>
                        
                        <ul class="leiding">
                        <li>Email:
                            <strong>
                              rentajin@outlook.com
                            </strong>
                          </li>
                          <li>Telefoon
                            <strong>
                              0478/929719
                            </strong>
                        </ul>
                        <div>
                        <button class="btn btn-success" type="button" data-dismiss="modal">
                          <i class="fa fa-times"></i>
                          Sluiten</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
      <!--ONZE BESTEMMING MINIPAGE-->
          
          <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                  <div class="lr">
                    <div class="rl"></div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 mx-auto">
                      <div class="modal-body">
                        <h2>Onze Bestemming</h2>
                        <hr class="star-primary">
                        <img class="img-fluid img-centered" src="img/portfolio/logo3page.jpg" alt="">
                        <p>
                          Het jinjaar staat in het teken van een grote buitenlandse reis.
                          Dit jaar begeven we ons buiten de grenzen van het bekende Europa en gaan we op reis naar Thailand.
                          Voor deze fantastische reis hebben we natuurlijk wat centjes nodig. 
                          Wil jij ons helpen om onze droomreis te realiseren? Ja?
                          Dat komt goed uit want wij kunnen jou ook helpen! 
                          Dien hieronder je aanvraag in en laat ons weten hoe we jou van dienst kunnen zijn.
                        </p>
                        <button class="btn btn-success" type="button" data-dismiss="modal">
                          <i class="fa fa-times"></i>
                          Sluiten</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <!--<script src="js/contact_me.js"></script>-->

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.js"></script>

  </body>

</html>
          
          
        
  
  